[Unit]
Description=devpola Upload
BindsTo=devpola.service

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/devpola/devpola-upload.sh

[Install]
WantedBy=multi-user.target
